---
interface Props {
	name: string;
}

const { name } = Astro.props;
---

<li class="testimonial">
	<p class="name">{name}</p>
	<blockquote class="quote">
		<slot />
	</blockquote>
</li>

<style>
	.testimonial {
		display: flex;
		flex-direction: column;
		gap: 1.5em;
	}
	.quote {
		position: relative;
		padding-inline-start: 1.5em;
	}
	.quote::before {
		position: absolute;
		content: '';
		inset-block: 0.5em;
		inset-inline-start: 0;
		border-inline-start: 1px solid var(--sl-color-text-accent);
	}
	.quote > :global(* + *) {
		margin-top: 0.75em;
	}

	.name {
		font-weight: 300;
		font-size: var(--sl-text-h4);
		color: var(--sl-color-white);
		line-height: var(--sl-line-height-headings);
		margin: 0;
	}

</style>
